[submodule "apps/frappe"]
	path = apps/frappe
	url = https://github.com/karthik3854k/frappe.git

[submodule "apps/erpnext"]
    path = apps/erpnext
    url = https://github.com/karthik3854k/erpnext.git


[submodule "apps/payments"]
    path = apps/payments
    url = https://github.com/karthik3854k/payments.git
[submodule "apps/pocketfm"]
    path = apps/pocketfm
    url = https://github.com/karthik3854k/pocketfm.git
[submodule "apps/political"]
    path = apps/political
    url = https://github.com/karthik3854k/political.git
