[submodule "apps/frappe"]
	path = apps/frappe
	url = https://github.com/karthik3854k/frappe.git

[submodule "apps/erpnext"]
    path = apps/erpnext
    url = https://github.com/karthik3854k/erpnext.git


[submodule "apps/payments"]
    path = apps/payments
    url = https://github.com/karthik3854k/payments.git
